.about_banner {
    background: url('../images/about_banner_background.jpg') center center/cover;
    background-attachment: fixed;
}

.about_page {
    /* min-height: 100vh; */
}

.about_page_container {
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#about_page {
    margin: 80px;
}

.about_page_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_img_box {
    width: 48%;
    max-height: 500px;
    padding: 20px;
    max-height: 500px;
    position: relative;
}

.about_img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: 1;
}

.about_page_text {
    z-index: 10;
    width: 93%;
    padding: 10px 20px;
    box-shadow: 1px 10px 10px rgba(103, 103, 103, 0.464);
}

.about_page_text h3 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    margin: 20px 0;
    margin-top: 0;
    color: rgb(255, 123, 0);
    position: relative;
    display: inline-block;
    padding: 10px 0;
}

.about_page_text h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 2px;
    background: linear-gradient(90deg, orange, white);
}

.about_page_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: rgb(66, 66, 66);
    margin: 10px 0;
}

.about_title {
    background: none;
    padding: 0;
}

@media screen and (max-width:899px) {
    .about_title p {
        font-size: 50px;
    }
}

@media screen and (max-width:657px) {
    #about_page {
        margin: 15px 10px;
    }

    .about_page_text h3 {
        font-size: 35px;
    }



    .about_img_box {
        max-height: 300px;
        padding: 2px;
    }

}