#contact {
    background: url('../images/contact_back2.jpg') top center/cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

#contact::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(19, 19, 19), rgb(60, 60, 60));
    opacity: 0.5;
    z-index: -1;
}

.contact_banner {
    background: url('../images/contact_back.jpg') center center/cover;
    background-attachment: fixed;
}

.contact_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 180px 20px;
    z-index: 3;
}

.contact_details {
    /* border: 2px solid red; */
    width: 500px;
    display: flex;
    flex-direction: column;
}

.contact_form {
    border: 2px solid white;
    width: 500px;
    padding: 20px 0;
}

.contact_box {
    display: flex;
    margin: 10px 0;
}

.contact_title h3 {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 10px 0;
    font-size: 30px;
}

.contact_icon .fas {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
}

.contact_data h5 {
    color: aqua;
    padding: 0 10px;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 25px;
}

.contact_data p {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}

.contact_form .contact_title h3 {
    text-align: center;
    padding-bottom: 0;
}


.your_question form {
    margin: 0 auto;
    padding-top: 25px;
}

.input_group {
    position: relative;
    margin-bottom: 28px;
    margin-right: 5px;
}

.your_question form {
    width: 90%;
}

.your_question form input,
.your_question form textarea {
    border: 2px solid white;
    width: 100%;
    padding: 10px;
    outline: 0;
    color: white;
    background: transparent;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.your_question form label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: white;
    cursor: text;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
}

#submit {
    padding: 10px 0;
    color: white;
    outline: none;
    background: aqua;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    transition: 0.5s;
    font-size: 20px;
}

#submit:hover {
    /* border: 2px solid aqua; */
}

form input:focus~label,
form textarea:focus~label,
form input:valid~label,
form textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.input_group .fas {
    margin-right: 5px;
}

.row {
    display: flex;
    width: 100%;
}

.row .input_group {
    width: 50%;
}

@media screen and (max-width:1024px) {
    .contact_form {
        margin-top: 40px;
    }
}

@media screen and (max-width:657px) {
    .contact_container {}

    .your_question form {
        width: 95%;
    }

    .row {
        flex-direction: column;
    }

    .row .input_group {
        width: 100%;
    }
}