.pages_banner {
    min-height: 60vh;
    background: url('../images/packages_background.jpg') center center/cover;
    background-attachment: fixed;
    position: relative;
}

.pages_banner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(black, gray);
    opacity: 0.5;
}

.pages_banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../images/18-cloud-png-image.png') center center/cover;
    background-attachment: fixed;
    opacity: .5;
}

.pages_banner_container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pages_banner_heading {
    width: 80%;
    padding-top: 100px;
    text-align: center;
}

.pages_banner_heading h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Rancho', cursive;
    position: relative;
    z-index: 2;
    color: white;
}


/* package deatils  */

.package_details_banner {
    background: url('../images/phoksundo_2.jpg') bottom center/cover;
    background-attachment: fixed;
}

.big_container {
    display: flex;
    margin: 20px 0;
}

.small_container {
    box-shadow: 0px 4px 5px rgba(147, 147, 147, 0.844);

}

#overview {
    padding-top: 50px;
}

.overview_container {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.intro_paragraph {
    width: 48%;
    padding: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 5px rgba(206, 205, 205, 0.534);
}

.overview_image {
    width: 48%;
    box-shadow: 0 0 5px rgba(206, 205, 205, 0.534);
}

.overview_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.package_details_banner::before {
    opacity: .1;
}

.packages_details_heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.package_container {
    width: 85%;
    margin: 40px auto;

}

.intro_image {
    width: 47%;
}

.intro_image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.package_introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 10px;
    box-shadow: 0 0 5px rgba(206, 205, 205, 0.534);
}

.intro {
    width: 47%;
    padding: 10px;
    margin: 0 10px;
}

.intro h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
    display: inline-block;
    position: relative;
    padding: 10px;
    color: rgb(47, 47, 47);
}

.intro h2::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, orange, white);
    margin: 0 10px;
}

.high {
    display: flex;
    padding: 4px 0 0 20px;
}

.fa-shoe-prints {
    color: #e95906;
    transform: rotate(-90deg);
}

.high p {
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 39, 39);
}

.facts {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.facts_box {
    width: 200px;
    height: 200px;
    background: linear-gradient(127deg, rgb(242, 241, 241), white 70%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    transition: 0.3s;
}

.facts_box:hover {
    transform: translateY(-5px);
}

.facts_box .fas {
    font-size: 40px;
    color: #e98306;
}

.facts_box h3 {
    font-size: 17px;
    margin: 10px 0;
    color: rgb(49, 49, 49);
    font-family: 'Playfair Display', serif;
}

.facts_box p {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: black;
}

.more_details {
    min-height: 100vh;
    position: relative;
}

.left_selector {
    width: 150px;
    position: sticky;
    top: 100px;
    border-top-left-radius: 20px;
}

.selector_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.641);
    background-color: #e95906;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.selector_box a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}



.selector_box .fas {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.selector_box h4 {
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

.selector_active {
    background-color: white;
    border: 2px solid #e95906;
    border-right: none;
}

.selector_active .fas,
.selector_active h4 {
    color: #e95906;
}


.title_4 h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 30px;
    position: relative;
    display: block;
    padding: 10px;
    margin: auto;
    /* width: 100%; */
}

.title_4 h1::after {
    content: '';
    width: 10%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 45%;
    background: radial-gradient(orange, white);
}

.title_4 .fas {
    color: #e95906;
}


/* timeline */
#tourplan {
    padding-top: 50px;
}

.timeline_container ul {
    list-style: none;
    padding: 60px 20px;
    padding-bottom: 0;
}

.timeline_container ul li span {
    font-size: 30px;
    display: block;
    padding-left: 40px;
    position: relative;
    font-family: 'Rowdies', cursive;
}

.timeline_container ul li span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #e95906;
    top: 6px;
    left: 8px;
    border-radius: 50px;

}

.timeline_container ul li p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border: 3px solid #e95906;
    border-width: 0 0 0 3px;
    padding: 10px;
    margin: 20px;
    margin-top: 0;

}

#costdetail {
    /* padding-top: 100px; */
    margin: 5px 0;
}

.costdetails_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.costdetails_box {
    width: 49%;
    padding: 20px;
    /* border: 2px solid gray; */
    margin: 20px;
    background: #e9ad0666;
    box-shadow: 0 0 4px rgb(226, 226, 226);
}

.costdetails_box h2 {
    text-align: center;
    color: #e95906;
    margin-bottom: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}

.costdetails_box p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.cross {
    color: red;
}

.tick {
    color: green;
    padding-right: 20px;
}

.costdetails_box ul li {
    list-style: none;
    position: relative;

}

.costdetails_box ul li .fas {
    position: absolute;
    top: 6px;
    font-size: 20px;
}

.costdetails_box ul li p {
    padding-left: 30px;
}

#gallery {
    position: relative;
}

.gallery_container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery_box {
    width: 350px;
    height: 350px;
    padding: 10px;
}

.gallery_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: ease 0.5s;
    cursor: pointer;
}

.gallery_box img:hover {
    transform: scale(1.05);
}

.full_img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.full_img img {
    width: 80%;
    max-width: 550px;
}

.full_img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}